apiVersion: v1
kind: Secret
metadata:
  name: {{ _configure_providers_secret_name }}
  namespace: {{ configure_providers_provider_namespace }}
  labels:
    createdForProviderType: {{ _configure_providers_forklift_type }}
    createdForResourceType: providers
    app.kubernetes.io/managed-by: ansible-migration-factory
type: Opaque
stringData:
  user: {{ mf_source_username | to_json }}
  password: {{ mf_source_password | to_json }}
{% if mf_insecure_skip_tls_verify | default(false) | bool %}
  insecureSkipVerify: "true"
{% elif mf_source_certificate | default('') | length > 0 %}
  cacert: {{ mf_source_certificate | to_json }}
{% endif %}
