name: "{{ aap_seed_execution_environment_credential }}"
description: "{{ aap_seed_execution_environment_credential_description }}"
organization: "{{ aap_seed_org_name }}"
credential_type: Container Registry
inputs:
  host: "{{ aap_seed_execution_environment_credential_host }}"
  password: "{{ aap_seed_execution_environment_credential_password }}"
  username: "{{ aap_seed_execution_environment_credential_username }}"
  verify_ssl: {{ aap_seed_execution_environment_credential_verify_ssl | default(true) | bool }}