name: "{{ aap_seed_project_credential }}"
organization: "{{ aap_seed_org_name }}"
credential_type: Source Control
inputs:
{% if aap_seed_git_ssh_key | default('', true) | length > 0 %}
  ssh_key_data: "{{ aap_seed_git_ssh_key }}"
{% if aap_seed_git_ssh_key_unlock | default('', true) | length > 0 %}
  ssh_key_unlock: "{{ aap_seed_git_ssh_key_unlock }}"
{% endif %}
{% else %}
  username: "{{ aap_seed_git_username }}"
  password: "{{ aap_seed_git_password }}"
{% endif %}
