name: "{{ __aap_seed_host_name }}"
organization: "{{ aap_seed_org_name }}"
credential_type: "{{ aap_seed_source_credential_type }}"
inputs:
  host: "{{ __aap_seed_vars['host'] }}"
  username: "{{ __aap_seed_vars['username'] }}"
  password: "{{ __aap_seed_vars['password'] }}"
  insecure_skip_tls_verify: {{ __aap_seed_vars['insecure_skip_tls_verify'] | default(false) }}
  certificate: "{{ __aap_seed_vars['certificate'] | default('') }}"
