name: "{{ __aap_seed_host_name }}"
organization: "{{ aap_seed_org_name }}"
credential_type: "{{ aap_seed_target_credential_type }}"
inputs:
  host: "{{ __aap_seed_vars['openshift_host'] }}"
  bearer_token: "{{ __aap_seed_vars['openshift_api_key'] | default('', true) | default(__aap_seed_vars['openshift_temporary_api_key'], true) }}"
  verify_ssl: {{ __aap_seed_vars['openshift_verify_ssl'] | default(true) }}
