name: "{{ __aap_seed_host_name }}"
organization: "{{ aap_seed_org_name }}"
credential_type: "{{ aap_seed_target_credential_type }}"
inputs:
  target_name: "{{ __aap_seed_host_name }}"
  host: "{{ __aap_seed_vars['openshift_host'] }}"
  api_key: "{{ __aap_seed_vars['openshift_api_key'] | default('', true) | default(__aap_seed_vars['openshift_temporary_api_key'], true) }}"
  ca_cert: "{{ __aap_seed_vars['openshift_ca_cert'] | default('') }}"
  verify_ssl: {{ __aap_seed_vars['openshift_verify_ssl'] | default(true) }}
